<style>
.nav {
	border-width: 10px;
	border-style: solid;
	border-color: #2e151b;
}

ul {
	list-style-type: none;
	padding: 10px 0;
	text-align: center;
	color: #da7b93;
	background-color: #336666;
	border-width: 10px;
	border-style: solid;
	border-color: #2e151b;
}

li {
	display: inline;
	text-align: center;
	font-size: 30px;
}

li a {
	text-decoration: none;
	color: #da7b93;
	padding: 10px 20px;
}

 li a:hover {
	background-color: #2e151b;
	color: white;
}

body {
	background-color: #2F4454;
	color: #da7b93;
}

h1 {
	font-weight: 900;
	font-size: 60px;
	text-align: center;
	color: #da7b93;
}

h2 {
	font-weight: 900;
	text-align: center;
	color: #da7b93;
}

h4 {
	text-style: italic;
	font-size: 12px;
}

div {
  width: 1250px;
  margin: auto;
}

.header {
	background-color: #336666;
border-width: 10px;
	border-style: solid;
	border-color: #2e151b;

}

.aside {
	background-color: #336666;
border-width: 10px;
	border-style: solid;
	border-color: #2e151b;
}

.article {
	background-color: #336666;
border-width: 10px;
	border-style: solid;
	border-color: #2e151b;
}

.footer {
	background-color: #336666;
	text-align: center;
border-width: 10px;
	border-style: solid;
	border-color: #2e151b;
}

.table {
	table-layout: fixed;
	width: 98%;
	word-break: break-word;
	overflow: wrap;
}

dl {
  display: block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

</style>